**/.vs
**/.vscode
**/.git
**/.gitignore
**/.dockerignore
**/bin
**/obj
**/out
**/logs
**/*.user
**/*.md
**/README.md
**/LICENSE
**/Dockerfile*
**/docker-compose*
**/.github
**/.devcontainer
**/secrets
**/temp
